/**
 * @name HS Chat Theme
 * @author Fungustober
 * @version 1.1.0
 * @description A theme for discord inspired by the multimedia webcomic Homestuck
 */
 
 :root{
	--background-primary: #535353!important;
	--background-secondary: #c6c6c6!important;
	--scrollbar-auto-track: black!important;
	--scrollbar-auto-thumb: #c6c6c6!important;
	--background-tertiary: #535353!important;
	--background-secondary-alt: #535353!important;
    --font-primary: "Courier Prime", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Courier Prime", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	--text-normal: black!important;
	--text-link: #1b00ee!important;
	--text-link-low-saturation: #1b00ee!important;
 }
 
@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
}

html.theme-light::before {
    content: "I forgot to make this theme work in both light and dark mode, so please turn on dark mode.";
    font-family: Courier Prime;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    z-index: 10001;
    right: 0;
    left: 0;
}

a[aria-label*="unread"] div[aria-label*="Text"] path{
	fill: #1b00ee;
}

a[aria-label*="mention"] div[aria-label*="Text"] path{
	fill: #1b00ee;
}

li[class*="containerDefault"] div[class*="iconVisibility"] div[class*="unread"]{
	background-color: #1b00ee;
}

/*#channels li div[class*="link"] div[class*="name"]{
	this hurt my eyes a bit so I've disabled it
	text-decoration: underline;
}*/

div[class*="modeMuted"] div[class*="iconContainer"][aria-label*="Text"] path{
	fill: black;
}
 
div[class*="iconContainer"][aria-label*="Text"] path{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #551A8B;
}

div[class*="emptyChannelIcon"] path{
	d:path('M 21.6564 13.3734 C 21.9969 13.2078 22.2429 13.0155 22.3944 12.7968 C 22.5462 12.5781 22.6218 12.2985 22.6218 11.9577 C 22.6218 11.6142 22.5462 11.3328 22.3944 11.1141 C 22.2429 10.8954 21.9969 10.7046 21.6564 10.5423 L 5.7234 2.7282 C 5.4483 2.5905 5.1954 2.5218 4.9641 2.5218 C 4.5108 2.5218 4.1343 2.8155 3.8343 3.4032 C 3.672 3.7311 3.5907 4.0188 3.5907 4.2657 C 3.5907 4.7157 3.8703 5.0781 4.4298 5.3532 L 18.2109 11.9577 L 4.4298 18.5577 C 3.8703 18.8328 3.5907 19.1952 3.5907 19.6452 C 3.5907 19.8921 3.672 20.1798 3.8343 20.5077 C 4.1343 21.0954 4.5108 21.3891 4.9641 21.3891 C 5.1954 21.3891 5.4483 21.3204 5.7234 21.1827 L 21.6564 13.3734')!important;
}

div[class*="iconContainer"][aria-label*="Voice"] path{
	d:path('M 22.44,2.08 C 22.55,2.20 22.61,2.40 22.61,2.69 C22.61,2.69 22.61,21.08 22.61,21.08 C22.61,21.37 22.55,21.57 22.44,21.70 C22.32,21.82 22.12,21.88 21.85,21.88 C21.85,21.88 16.83,21.88 16.83,21.88 C16.56,21.88 16.36,21.81 16.24,21.68 C16.13,21.56 16.07,21.34 16.07,21.03 C16.07,20.73 16.13,20.51 16.24,20.38 C16.36,20.25 16.56,20.19 16.83,20.19 C16.83,20.19 20.79,20.19 20.79,20.19 C20.79,20.19 20.79,3.58 20.79,3.58 C20.79,3.58 16.83,3.58 16.83,3.58 C16.56,3.58 16.36,3.52 16.24,3.39 C16.13,3.26 16.07,3.05 16.07,2.74 C16.07,2.44 16.13,2.22 16.24,2.09 C16.36,1.96 16.56,1.90 16.83,1.90 C16.83,1.90 21.85,1.90 21.85,1.90 C22.12,1.90 22.32,1.96 22.44,2.08 Z M 16.25,4.20 C 16.39,4.32 16.46,4.52 16.46,4.79 C16.46,4.79 16.46,7.48 16.46,7.48 C16.46,7.76 16.39,7.95 16.25,8.07 C16.11,8.19 15.88,8.25 15.55,8.25 C15.24,8.25 15.03,8.14 14.92,7.94 C14.53,7.23 13.98,6.69 13.28,6.32 C12.58,5.95 11.78,5.76 10.88,5.76 C9.99,5.76 9.30,5.96 8.82,6.36 C8.33,6.76 8.08,7.29 8.08,7.96 C8.08,8.29 8.17,8.55 8.34,8.77 C8.51,8.99 8.75,9.18 9.06,9.34 C9.35,9.48 9.68,9.59 10.06,9.68 C10.44,9.77 10.95,9.87 11.58,9.99 C12.28,10.12 12.83,10.24 13.24,10.33 C13.65,10.42 14.05,10.54 14.44,10.70 C15.25,11.02 15.88,11.46 16.34,12.04 C16.80,12.61 17.03,13.39 17.03,14.36 C17.03,15.18 16.83,15.89 16.43,16.50 C16.04,17.12 15.45,17.59 14.68,17.94 C13.91,18.28 12.98,18.45 11.90,18.45 C11.09,18.45 10.34,18.31 9.65,18.03 C8.96,17.74 8.36,17.32 7.85,16.78 C7.85,16.78 7.85,17.69 7.85,17.69 C7.85,17.96 7.78,18.16 7.65,18.28 C7.51,18.39 7.28,18.45 6.94,18.45 C6.61,18.45 6.38,18.39 6.24,18.28 C6.10,18.16 6.04,17.96 6.04,17.69 C6.04,17.69 6.04,14.18 6.04,14.18 C6.04,13.90 6.10,13.71 6.24,13.59 C6.38,13.47 6.61,13.41 6.94,13.41 C7.29,13.41 7.53,13.58 7.65,13.91 C7.98,14.81 8.51,15.51 9.23,15.99 C9.95,16.48 10.84,16.72 11.90,16.72 C12.93,16.72 13.73,16.50 14.28,16.07 C14.83,15.64 15.11,15.07 15.11,14.36 C15.11,13.87 14.98,13.47 14.73,13.16 C14.47,12.85 14.11,12.60 13.62,12.39 C13.31,12.26 12.98,12.15 12.61,12.07 C12.25,11.99 11.75,11.89 11.12,11.76 C10.46,11.64 9.91,11.52 9.46,11.41 C9.01,11.30 8.60,11.16 8.22,11.00 C7.57,10.72 7.07,10.34 6.71,9.86 C6.35,9.38 6.17,8.75 6.17,7.96 C6.17,7.16 6.37,6.46 6.77,5.87 C7.17,5.27 7.73,4.82 8.44,4.50 C9.16,4.19 9.97,4.03 10.88,4.03 C11.59,4.03 12.28,4.16 12.94,4.43 C13.60,4.69 14.17,5.05 14.64,5.50 C14.64,5.50 14.64,4.79 14.64,4.79 C14.64,4.52 14.71,4.32 14.84,4.20 C14.98,4.09 15.22,4.03 15.55,4.03 C15.88,4.03 16.11,4.09 16.25,4.20 Z M 7.79,20.60 C 7.90,20.73 7.95,20.95 7.95,21.25 C7.95,21.56 7.90,21.78 7.79,21.90 C7.68,22.03 7.50,22.10 7.24,22.10 C7.24,22.10 2.56,22.10 2.56,22.10 C2.30,22.10 2.12,22.04 2.01,21.92 C1.90,21.79 1.84,21.59 1.84,21.30 C1.84,21.30 1.84,2.91 1.84,2.91 C1.84,2.62 1.90,2.42 2.01,2.30 C2.12,2.18 2.30,2.12 2.56,2.12 C2.56,2.12 7.24,2.12 7.24,2.12 C7.50,2.12 7.68,2.18 7.79,2.31 C7.90,2.44 7.95,2.66 7.95,2.96 C7.95,3.27 7.90,3.48 7.79,3.61 C7.68,3.74 7.50,3.80 7.24,3.80 C7.24,3.80 3.54,3.80 3.54,3.80 C3.54,3.80 3.54,20.41 3.54,20.41 C3.54,20.41 7.24,20.41 7.24,20.41 C7.50,20.41 7.68,20.47 7.79,20.60 Z')!important;
	fill: #551A8B;
}

div[class*="iconContainer"][aria-label*="Voice (Limited)"] path{
	d:path('M 13.87,4.79 C 14.50,5.10 14.99,5.53 15.32,6.08 C15.66,6.63 15.83,7.27 15.83,7.99 C15.83,8.66 15.69,9.24 15.41,9.72 C15.13,10.20 14.72,10.62 14.17,10.97 C13.63,11.33 12.91,11.68 12.03,12.04 C12.03,12.04 11.88,13.72 11.88,13.72 C11.84,14.10 11.57,14.29 11.08,14.29 C10.57,14.29 10.30,14.10 10.28,13.72 C10.28,13.72 10.12,11.40 10.12,11.40 C10.10,11.25 10.12,11.12 10.19,11.03 C10.25,10.93 10.34,10.86 10.48,10.80 C10.48,10.80 11.32,10.48 11.32,10.48 C11.96,10.22 12.48,9.98 12.85,9.75 C13.23,9.52 13.51,9.27 13.69,8.99 C13.87,8.71 13.96,8.38 13.96,7.99 C13.96,7.41 13.76,6.94 13.35,6.59 C12.94,6.23 12.36,6.06 11.62,6.06 C10.60,6.06 9.73,6.20 9.02,6.49 C9.02,6.49 9.02,7.54 9.02,7.54 C9.02,7.81 8.95,8.00 8.81,8.12 C8.67,8.24 8.44,8.30 8.11,8.30 C7.78,8.30 7.54,8.24 7.40,8.12 C7.27,8.00 7.20,7.81 7.20,7.54 C7.20,7.54 7.20,6.05 7.20,6.05 C7.20,5.88 7.22,5.75 7.27,5.64 C7.32,5.54 7.40,5.45 7.50,5.39 C8.72,4.68 10.09,4.32 11.61,4.32 C12.48,4.32 13.23,4.48 13.87,4.79 Z M 12.14,16.67 C 12.36,16.78 12.47,16.97 12.47,17.24 C12.47,17.24 12.47,18.57 12.47,18.57 C12.47,18.84 12.36,19.03 12.14,19.14 C11.92,19.26 11.57,19.31 11.08,19.31 C10.58,19.31 10.23,19.26 10.01,19.14 C9.79,19.03 9.68,18.84 9.68,18.57 C9.68,18.57 9.68,17.24 9.68,17.24 C9.68,16.97 9.79,16.78 10.01,16.67 C10.23,16.56 10.58,16.50 11.08,16.50 C11.57,16.50 11.92,16.56 12.14,16.67 Z M 22.44,2.08 C 22.55,2.20 22.61,2.40 22.61,2.69 C22.61,2.69 22.61,21.08 22.61,21.08 C22.61,21.37 22.55,21.57 22.44,21.70 C22.32,21.82 22.12,21.88 21.85,21.88 C21.85,21.88 16.83,21.88 16.83,21.88 C16.56,21.88 16.36,21.81 16.24,21.68 C16.13,21.56 16.07,21.34 16.07,21.03 C16.07,20.73 16.13,20.51 16.24,20.38 C16.36,20.25 16.56,20.19 16.83,20.19 C16.83,20.19 20.79,20.19 20.79,20.19 C20.79,20.19 20.79,3.58 20.79,3.58 C20.79,3.58 16.83,3.58 16.83,3.58 C16.56,3.58 16.36,3.52 16.24,3.39 C16.13,3.26 16.07,3.05 16.07,2.74 C16.07,2.44 16.13,2.22 16.24,2.09 C16.36,1.96 16.56,1.90 16.83,1.90 C16.83,1.90 21.85,1.90 21.85,1.90 C22.12,1.90 22.32,1.96 22.44,2.08 Z M 7.79,20.60 C 7.90,20.73 7.95,20.95 7.95,21.25 C7.95,21.56 7.90,21.78 7.79,21.90 C7.68,22.03 7.50,22.10 7.24,22.10 C7.24,22.10 2.56,22.10 2.56,22.10 C2.30,22.10 2.12,22.04 2.01,21.92 C1.90,21.79 1.84,21.59 1.84,21.30 C1.84,21.30 1.84,2.91 1.84,2.91 C1.84,2.62 1.90,2.42 2.01,2.30 C2.12,2.18 2.30,2.12 2.56,2.12 C2.56,2.12 7.24,2.12 7.24,2.12 C7.50,2.12 7.68,2.18 7.79,2.31 C7.90,2.44 7.95,2.66 7.95,2.96 C7.95,3.27 7.90,3.48 7.79,3.61 C7.68,3.74 7.50,3.80 7.24,3.80 C7.24,3.80 3.54,3.80 3.54,3.80 C3.54,3.80 3.54,20.41 3.54,20.41 C3.54,20.41 7.24,20.41 7.24,20.41 C7.50,20.41 7.68,20.47 7.79,20.60 Z')!important;
	fill: #551A8B;
}

div[class*="typeVoice"] a[role*="button"]:not([aria-label*=" 0 users"]) div[class*="linkTop"] div[class*="name"]{
	color: #1b00ee;
}
div[class*="typeVoice"] a[role*="button"]:not([aria-label*=" 0 users"]) div[class*="linkTop"] div[class*="iconContainer"] path{
	fill: #1b00ee!important;
}

div[class*="iconContainer"][aria-label*="Text (Limited)"] path{
	d:path('M 21.23,4.02 C 21.70,4.25 22.06,4.57 22.30,4.98 C22.56,5.38 22.68,5.86 22.68,6.39 C22.68,6.89 22.58,7.32 22.37,7.68 C22.16,8.03 21.86,8.34 21.45,8.60 C21.05,8.87 20.52,9.13 19.86,9.40 C19.86,9.40 19.75,10.64 19.75,10.64 C19.72,10.93 19.52,11.07 19.16,11.07 C18.78,11.07 18.58,10.93 18.56,10.64 C18.56,10.64 18.45,8.92 18.45,8.92 C18.43,8.81 18.45,8.72 18.50,8.65 C18.54,8.57 18.61,8.52 18.71,8.48 C18.71,8.48 19.34,8.24 19.34,8.24 C19.81,8.05 20.20,7.87 20.47,7.70 C20.75,7.53 20.96,7.34 21.09,7.14 C21.23,6.93 21.29,6.68 21.29,6.39 C21.29,5.96 21.15,5.61 20.84,5.35 C20.54,5.09 20.11,4.96 19.56,4.96 C18.80,4.96 18.16,5.07 17.63,5.28 C17.63,5.28 17.63,6.06 17.63,6.06 C17.63,6.26 17.58,6.40 17.47,6.49 C17.37,6.58 17.20,6.62 16.95,6.62 C16.71,6.62 16.53,6.58 16.43,6.49 C16.33,6.40 16.28,6.26 16.28,6.06 C16.28,6.06 16.28,4.95 16.28,4.95 C16.28,4.83 16.29,4.73 16.33,4.65 C16.37,4.58 16.43,4.51 16.50,4.46 C17.41,3.94 18.42,3.67 19.55,3.67 C20.20,3.67 20.75,3.79 21.23,4.02 Z M 19.94,12.83 C 20.11,12.92 20.19,13.06 20.19,13.26 C20.19,13.26 20.19,14.24 20.19,14.24 C20.19,14.44 20.11,14.58 19.94,14.67 C19.78,14.76 19.52,14.79 19.16,14.79 C18.79,14.79 18.53,14.76 18.36,14.67 C18.20,14.58 18.12,14.44 18.12,14.24 C18.12,14.24 18.12,13.26 18.12,13.26 C18.12,13.06 18.20,12.92 18.36,12.83 C18.53,12.75 18.79,12.71 19.16,12.71 C19.52,12.71 19.78,12.75 19.94,12.83 Z M 11.66,9.59 C 11.74,9.71 11.78,9.86 11.78,10.04 C11.78,10.23 11.74,10.38 11.66,10.49 C11.58,10.61 11.45,10.71 11.27,10.80 C11.27,10.80 2.79,15.00 2.79,15.00 C2.64,15.07 2.51,15.11 2.38,15.11 C2.14,15.11 1.94,14.95 1.78,14.63 C1.70,14.46 1.65,14.30 1.65,14.17 C1.65,13.93 1.80,13.74 2.10,13.59 C2.10,13.59 9.43,10.04 9.43,10.04 C9.43,10.04 2.10,6.50 2.10,6.50 C1.80,6.35 1.65,6.16 1.65,5.91 C1.65,5.78 1.70,5.63 1.78,5.45 C1.94,5.14 2.14,4.98 2.38,4.98 C2.51,4.98 2.64,5.01 2.79,5.09 C2.79,5.09 11.27,9.28 11.27,9.28 C11.45,9.37 11.58,9.47 11.66,9.59 Z')!important;
	fill: #551A8B;
}

div[class*="iconContainer"][aria-label*="Threads"] path{
	d:path('M 15.80,16.27 C 15.87,16.34 15.91,16.47 15.91,16.65 C15.91,16.83 15.87,16.97 15.80,17.04 C15.73,17.12 15.60,17.16 15.43,17.16 C15.43,17.16 9.59,17.16 9.59,17.16 C9.42,17.16 9.30,17.12 9.23,17.04 C9.15,16.97 9.11,16.83 9.11,16.65 C9.11,16.47 9.15,16.34 9.23,16.27 C9.30,16.18 9.42,16.15 9.59,16.15 C9.59,16.15 15.43,16.15 15.43,16.15 C15.60,16.15 15.73,16.18 15.80,16.27 Z M 15.80,19.22 C 15.87,19.30 15.91,19.43 15.91,19.61 C15.91,19.80 15.87,19.92 15.80,20.00 C15.73,20.08 15.60,20.12 15.43,20.12 C15.43,20.12 9.59,20.12 9.59,20.12 C9.42,20.12 9.30,20.08 9.23,20.00 C9.15,19.92 9.11,19.80 9.11,19.61 C9.11,19.43 9.15,19.30 9.23,19.22 C9.30,19.15 9.42,19.11 9.59,19.11 C9.59,19.11 15.43,19.11 15.43,19.11 C15.60,19.11 15.73,19.15 15.80,19.22 Z M 14.74,10.33 C 14.85,10.50 14.91,10.70 14.91,10.95 C14.91,11.21 14.85,11.41 14.74,11.57 C14.63,11.74 14.45,11.88 14.20,12.00 C14.20,12.00 2.56,17.76 2.56,17.76 C2.36,17.86 2.17,17.91 2.00,17.91 C1.67,17.91 1.40,17.69 1.18,17.26 C1.06,17.02 1.00,16.81 1.00,16.62 C1.00,16.29 1.20,16.02 1.61,15.82 C1.61,15.82 11.69,10.95 11.69,10.95 C11.69,10.95 1.61,6.09 1.61,6.09 C1.20,5.88 1.00,5.62 1.00,5.29 C1.00,5.10 1.06,4.89 1.18,4.65 C1.40,4.22 1.67,4.00 2.00,4.00 C2.17,4.00 2.36,4.05 2.56,4.15 C2.56,4.15 14.20,9.91 14.20,9.91 C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #551A8B;
}

svg[class*="spine"]{
	transform: translate(0px,6px) scale(1.3);
}
svg[class*="spine"] path{
	d:path('M 8.14,2.05 C 8.23,2.14 8.27,2.28 8.27,2.48 C8.27,2.69 8.23,2.84 8.14,2.92 C8.07,3.01 7.93,3.05 7.74,3.05 C7.74,3.05 1.23,3.05 1.23,3.05 C1.04,3.05 0.90,3.01 0.82,2.92 C0.74,2.84 0.69,2.69 0.69,2.48 C0.69,2.28 0.74,2.14 0.82,2.05 C0.90,1.96 1.04,1.92 1.23,1.92 C1.23,1.92 7.74,1.92 7.74,1.92 C7.93,1.92 8.07,1.96 8.14,2.05 Z M 8.14,5.35 C 8.23,5.43 8.27,5.58 8.27,5.79 C8.27,5.99 8.23,6.13 8.14,6.22 C8.07,6.31 7.93,6.35 7.74,6.35 C7.74,6.35 1.23,6.35 1.23,6.35 C1.04,6.35 0.90,6.31 0.82,6.22 C0.74,6.13 0.69,5.99 0.69,5.79 C0.69,5.58 0.74,5.43 0.82,5.35 C0.90,5.27 1.04,5.22 1.23,5.22 C1.23,5.22 7.74,5.22 7.74,5.22 C7.93,5.22 8.07,5.27 8.14,5.35 Z M 15.66,3.70 C 15.72,3.79 15.75,3.90 15.75,4.04 C15.75,4.17 15.72,4.29 15.66,4.38 C15.60,4.46 15.50,4.54 15.37,4.61 C15.37,4.61 9.01,7.75 9.01,7.75 C8.91,7.80 8.80,7.83 8.71,7.83 C8.53,7.83 8.38,7.71 8.26,7.48 C8.20,7.34 8.16,7.23 8.16,7.13 C8.16,6.95 8.28,6.80 8.50,6.69 C8.50,6.69 13.99,4.04 13.99,4.04 C13.99,4.04 8.50,1.38 8.50,1.38 C8.28,1.27 8.16,1.13 8.16,0.94 C8.16,0.84 8.20,0.73 8.26,0.60 C8.38,0.36 8.53,0.24 8.71,0.24 C8.80,0.24 8.91,0.27 9.01,0.32 C9.01,0.32 15.37,3.47 15.37,3.47 C15.50,3.53 15.60,3.61 15.66,3.70 Z')!important;
	fill: #551A8B;
	transform: scale(0.7);
}

li[class*="containerDefault"]:has([class*="modeUnread"]) svg[class*="spine"]:not([style*="rotateX"]) path{
	fill: #1b00ee;
}

svg[class*="spine"][style*="rotateX"] path{
	fill:#c6c6c6;
}

div[class*="spineBorder"]{
	background-color: #c6c6c6;
}

li[class*="containerDefault"] div[class*="name"]{
	color: #551A8B;
}

li[class*="containerDefault"] div[class*="list"] div[class*="voiceUser"] div[class*="usernameFont"]{
	color: #000000!important;
}

div[class*="modeSelected"] div[class*="name"]{
	color: #551A8B;
}

div[class*="iconVisibility"][class*="wrapperCommon"]{
	background-color: #535353;
}

div[class*="member"]{
	background-color: #c6c6c6;
}

div[class*="messagesWrapper"]{
	background-color: #eeeeee;
}

form[class*="form"]{
	background-color: #c6c6c6;
}

div[class*="scrollableContainer"]{
	background-color: #535353;
}

div[class*="upperContainer"]{
	background-color: #535353;
}

div[class*="topic"]:after{
	background-color: #535353!important;
}

header[class*="header"]{
	background-color: #535353!important;
}

section[aria-label="Channel header"]{
	background-color: #535353!important;
}

li[class*="containerDefault"]{
	background-color: #c6c6c6;
}

div[class*="modeUnread"] div[class*="name"]{
	color: #1b00ee;
}

li[class*="containerDefault"] a[aria-label*=" mention"] div[class*="name"]{
	color: #1b00ee;
}

div[class*="unreadRelevant"]{
	background-color: #1b00ee;
}

i[class*="separator"]{
	background-color: #eeeeee;
}

div[class*="modeMuted"] div[class*="name"]{
	color: black;
}

div[class*="modeMuted"]{
	background-color: #535353;
}


div[class*="pill"] span[class*="item"]{
	background-color: #988eec;
}

div[class*="pill"] span[class*="item"][style*="height: 4"]{
	background-color: #8759b3;
}

div[class*="newMessagesBar"]{
	background-color: #1b00ee;
}

div[class*="editor"]{
	color: #dbdee1!important;
	caret-color: #dbdee1!important;
}

div[class*="messagesWrapper"] div[class*="messageContent"] span[class*="channelWithIcon"]{
	color:black;
}

span[class*="channelWithIcon"] svg[class*="icon"] path{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
}

.embedFieldName-9LYSyR span{
	color:black;
}

div[id*="message-content"] span[class*="mention"]{
	color:black;
}

span[id*="username"] span[class*="username"]:not([style*="color:"]){
	color:black;
}

span[class*="username"]:not([style*="color:"]){
	color:black;
}

div[class*="reactionCount"]{
	color:black;
}

div[class*="muted"] div[class*="overflow"]{
	color:black;
}

h3[class*="membersGroup"] span{
	background-color: #eeeeee!important;
}

div[class*="repliedTextContent"]:first-of-type:before{
	content: ": ";
}

span[class*="roleMention"]{
	color:black!important;
}

.flexChild-3PzYmX .inputDefault-Ciwd-S{
	color: #dbdee1;
}

.select-Zz0IcO .defaultColor-1EVLSt{
	color: #dbdee1;
}

.value-2en4z7{
	color: #dbdee1;
}

div[class*="upperContainer"] div[class*="children"] svg[class*="icon"] path{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #dbdee1;
}

.heading-xxl-semibold{
	color:black;
}

.heading-xxl-extrabold-2-MUEs{
	color:black;
}

h1 em span {
	color:black!important;
}

h1 s {
	color:black!important;
}

h1 a span{
	color: #1b00ee!important;
}

div[class*="messageContent"] h1 span>span:not([style*="color:"]){
	color:black!important;
}

div[class*="messageContent"] h2 span>span:not([style*="color:"]){
	color:black!important;
}

div[class*="messageContent"] h3 span>span:not([style*="color:"]){
	color:black!important;
}

[class*="input"]{
	color: #dbdee1!important;
	caret-color: #dbdee1!important;
}

[class*="inputPrefix"] path{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #dbdee1;
}

[class*="threadMessageAccessoryPreview"]{
	color: #dbdee1;
}

[class*="systemMessage"]{
	background-color: #c6c6c6;
}

[class*="content"] a:hover{
	color: #1b00ee!important;
}

[class*="iconWrapper"]:not([class*="clickable"]):not([aria-label=*"Play"]) path:first-of-type{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #535353;
}

[class*="iconWrapper"]:not([class*="clickable"]):not([aria-label=*"Play"]) path:last-of-type{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
	fill: #dbdee1!important;
}

[class*="reactionInner"][aria-pressed*="false"] [class*="reactionCount"]{
	color: #1b00ee!important;
}

[class*="reactionInner"]:hover [class*="reactionCount"]{
	color:white!important;
}

[class*="reactionInner"][aria-pressed*="true"] [class*="reactionCount"]{
	color: #551A8B!important;
}

.bd-footer{
	background-color: black;
}

.bd-addon-header{
	background-color: #35bfff!important;
}

.bd-description{
	color: black!important;
}

.bd-meta{
	color: black!important;
}

div[class*="centerContent"] svg[class*="iconPlay"] path{
	d:path('M 22.44,2.08 C 22.55,2.20 22.61,2.40 22.61,2.69 C22.61,2.69 22.61,21.08 22.61,21.08 C22.61,21.37 22.55,21.57 22.44,21.70 C22.32,21.82 22.12,21.88 21.85,21.88 C21.85,21.88 16.83,21.88 16.83,21.88 C16.56,21.88 16.36,21.81 16.24,21.68 C16.13,21.56 16.07,21.34 16.07,21.03 C16.07,20.73 16.13,20.51 16.24,20.38 C16.36,20.25 16.56,20.19 16.83,20.19 C16.83,20.19 20.79,20.19 20.79,20.19 C20.79,20.19 20.79,3.58 20.79,3.58 C20.79,3.58 16.83,3.58 16.83,3.58 C16.56,3.58 16.36,3.52 16.24,3.39 C16.13,3.26 16.07,3.05 16.07,2.74 C16.07,2.44 16.13,2.22 16.24,2.09 C16.36,1.96 16.56,1.90 16.83,1.90 C16.83,1.90 21.85,1.90 21.85,1.90 C22.12,1.90 22.32,1.96 22.44,2.08 Z M 16.25,4.20 C 16.39,4.32 16.46,4.52 16.46,4.79 C16.46,4.79 16.46,7.48 16.46,7.48 C16.46,7.76 16.39,7.95 16.25,8.07 C16.11,8.19 15.88,8.25 15.55,8.25 C15.24,8.25 15.03,8.14 14.92,7.94 C14.53,7.23 13.98,6.69 13.28,6.32 C12.58,5.95 11.78,5.76 10.88,5.76 C9.99,5.76 9.30,5.96 8.82,6.36 C8.33,6.76 8.08,7.29 8.08,7.96 C8.08,8.29 8.17,8.55 8.34,8.77 C8.51,8.99 8.75,9.18 9.06,9.34 C9.35,9.48 9.68,9.59 10.06,9.68 C10.44,9.77 10.95,9.87 11.58,9.99 C12.28,10.12 12.83,10.24 13.24,10.33 C13.65,10.42 14.05,10.54 14.44,10.70 C15.25,11.02 15.88,11.46 16.34,12.04 C16.80,12.61 17.03,13.39 17.03,14.36 C17.03,15.18 16.83,15.89 16.43,16.50 C16.04,17.12 15.45,17.59 14.68,17.94 C13.91,18.28 12.98,18.45 11.90,18.45 C11.09,18.45 10.34,18.31 9.65,18.03 C8.96,17.74 8.36,17.32 7.85,16.78 C7.85,16.78 7.85,17.69 7.85,17.69 C7.85,17.96 7.78,18.16 7.65,18.28 C7.51,18.39 7.28,18.45 6.94,18.45 C6.61,18.45 6.38,18.39 6.24,18.28 C6.10,18.16 6.04,17.96 6.04,17.69 C6.04,17.69 6.04,14.18 6.04,14.18 C6.04,13.90 6.10,13.71 6.24,13.59 C6.38,13.47 6.61,13.41 6.94,13.41 C7.29,13.41 7.53,13.58 7.65,13.91 C7.98,14.81 8.51,15.51 9.23,15.99 C9.95,16.48 10.84,16.72 11.90,16.72 C12.93,16.72 13.73,16.50 14.28,16.07 C14.83,15.64 15.11,15.07 15.11,14.36 C15.11,13.87 14.98,13.47 14.73,13.16 C14.47,12.85 14.11,12.60 13.62,12.39 C13.31,12.26 12.98,12.15 12.61,12.07 C12.25,11.99 11.75,11.89 11.12,11.76 C10.46,11.64 9.91,11.52 9.46,11.41 C9.01,11.30 8.60,11.16 8.22,11.00 C7.57,10.72 7.07,10.34 6.71,9.86 C6.35,9.38 6.17,8.75 6.17,7.96 C6.17,7.16 6.37,6.46 6.77,5.87 C7.17,5.27 7.73,4.82 8.44,4.50 C9.16,4.19 9.97,4.03 10.88,4.03 C11.59,4.03 12.28,4.16 12.94,4.43 C13.60,4.69 14.17,5.05 14.64,5.50 C14.64,5.50 14.64,4.79 14.64,4.79 C14.64,4.52 14.71,4.32 14.84,4.20 C14.98,4.09 15.22,4.03 15.55,4.03 C15.88,4.03 16.11,4.09 16.25,4.20 Z M 7.79,20.60 C 7.90,20.73 7.95,20.95 7.95,21.25 C7.95,21.56 7.90,21.78 7.79,21.90 C7.68,22.03 7.50,22.10 7.24,22.10 C7.24,22.10 2.56,22.10 2.56,22.10 C2.30,22.10 2.12,22.04 2.01,21.92 C1.90,21.79 1.84,21.59 1.84,21.30 C1.84,21.30 1.84,2.91 1.84,2.91 C1.84,2.62 1.90,2.42 2.01,2.30 C2.12,2.18 2.30,2.12 2.56,2.12 C2.56,2.12 7.24,2.12 7.24,2.12 C7.50,2.12 7.68,2.18 7.79,2.31 C7.90,2.44 7.95,2.66 7.95,2.96 C7.95,3.27 7.90,3.48 7.79,3.61 C7.68,3.74 7.50,3.80 7.24,3.80 C7.24,3.80 3.54,3.80 3.54,3.80 C3.54,3.80 3.54,20.41 3.54,20.41 C3.54,20.41 7.24,20.41 7.24,20.41 C7.50,20.41 7.68,20.47 7.79,20.60 Z')!important;
}

svg[class*="iconExternalMargins"] path{
	d:path('M 8.14,2.05 C 8.23,2.14 8.27,2.28 8.27,2.48 C8.27,2.69 8.23,2.84 8.14,2.92 C8.07,3.01 7.93,3.05 7.74,3.05 C7.74,3.05 1.23,3.05 1.23,3.05 C1.04,3.05 0.90,3.01 0.82,2.92 C0.74,2.84 0.69,2.69 0.69,2.48 C0.69,2.28 0.74,2.14 0.82,2.05 C0.90,1.96 1.04,1.92 1.23,1.92 C1.23,1.92 7.74,1.92 7.74,1.92 C7.93,1.92 8.07,1.96 8.14,2.05 Z M 8.14,5.35 C 8.23,5.43 8.27,5.58 8.27,5.79 C8.27,5.99 8.23,6.13 8.14,6.22 C8.07,6.31 7.93,6.35 7.74,6.35 C7.74,6.35 1.23,6.35 1.23,6.35 C1.04,6.35 0.90,6.31 0.82,6.22 C0.74,6.13 0.69,5.99 0.69,5.79 C0.69,5.58 0.74,5.43 0.82,5.35 C0.90,5.27 1.04,5.22 1.23,5.22 C1.23,5.22 7.74,5.22 7.74,5.22 C7.93,5.22 8.07,5.27 8.14,5.35 Z M 15.66,3.70 C 15.72,3.79 15.75,3.90 15.75,4.04 C15.75,4.17 15.72,4.29 15.66,4.38 C15.60,4.46 15.50,4.54 15.37,4.61 C15.37,4.61 9.01,7.75 9.01,7.75 C8.91,7.80 8.80,7.83 8.71,7.83 C8.53,7.83 8.38,7.71 8.26,7.48 C8.20,7.34 8.16,7.23 8.16,7.13 C8.16,6.95 8.28,6.80 8.50,6.69 C8.50,6.69 13.99,4.04 13.99,4.04 C13.99,4.04 8.50,1.38 8.50,1.38 C8.28,1.27 8.16,1.13 8.16,0.94 C8.16,0.84 8.20,0.73 8.26,0.60 C8.38,0.36 8.53,0.24 8.71,0.24 C8.80,0.24 8.91,0.27 9.01,0.32 C9.01,0.32 15.37,3.47 15.37,3.47 C15.50,3.53 15.60,3.61 15.66,3.70 Z')!important;
	transform: translate(0px,6px) scale(1.5);
}

div[class*="cover"] path{
	d:path('M 22.44,2.08 C 22.55,2.20 22.61,2.40 22.61,2.69 C22.61,2.69 22.61,21.08 22.61,21.08 C22.61,21.37 22.55,21.57 22.44,21.70 C22.32,21.82 22.12,21.88 21.85,21.88 C21.85,21.88 16.83,21.88 16.83,21.88 C16.56,21.88 16.36,21.81 16.24,21.68 C16.13,21.56 16.07,21.34 16.07,21.03 C16.07,20.73 16.13,20.51 16.24,20.38 C16.36,20.25 16.56,20.19 16.83,20.19 C16.83,20.19 20.79,20.19 20.79,20.19 C20.79,20.19 20.79,3.58 20.79,3.58 C20.79,3.58 16.83,3.58 16.83,3.58 C16.56,3.58 16.36,3.52 16.24,3.39 C16.13,3.26 16.07,3.05 16.07,2.74 C16.07,2.44 16.13,2.22 16.24,2.09 C16.36,1.96 16.56,1.90 16.83,1.90 C16.83,1.90 21.85,1.90 21.85,1.90 C22.12,1.90 22.32,1.96 22.44,2.08 Z M 16.25,4.20 C 16.39,4.32 16.46,4.52 16.46,4.79 C16.46,4.79 16.46,7.48 16.46,7.48 C16.46,7.76 16.39,7.95 16.25,8.07 C16.11,8.19 15.88,8.25 15.55,8.25 C15.24,8.25 15.03,8.14 14.92,7.94 C14.53,7.23 13.98,6.69 13.28,6.32 C12.58,5.95 11.78,5.76 10.88,5.76 C9.99,5.76 9.30,5.96 8.82,6.36 C8.33,6.76 8.08,7.29 8.08,7.96 C8.08,8.29 8.17,8.55 8.34,8.77 C8.51,8.99 8.75,9.18 9.06,9.34 C9.35,9.48 9.68,9.59 10.06,9.68 C10.44,9.77 10.95,9.87 11.58,9.99 C12.28,10.12 12.83,10.24 13.24,10.33 C13.65,10.42 14.05,10.54 14.44,10.70 C15.25,11.02 15.88,11.46 16.34,12.04 C16.80,12.61 17.03,13.39 17.03,14.36 C17.03,15.18 16.83,15.89 16.43,16.50 C16.04,17.12 15.45,17.59 14.68,17.94 C13.91,18.28 12.98,18.45 11.90,18.45 C11.09,18.45 10.34,18.31 9.65,18.03 C8.96,17.74 8.36,17.32 7.85,16.78 C7.85,16.78 7.85,17.69 7.85,17.69 C7.85,17.96 7.78,18.16 7.65,18.28 C7.51,18.39 7.28,18.45 6.94,18.45 C6.61,18.45 6.38,18.39 6.24,18.28 C6.10,18.16 6.04,17.96 6.04,17.69 C6.04,17.69 6.04,14.18 6.04,14.18 C6.04,13.90 6.10,13.71 6.24,13.59 C6.38,13.47 6.61,13.41 6.94,13.41 C7.29,13.41 7.53,13.58 7.65,13.91 C7.98,14.81 8.51,15.51 9.23,15.99 C9.95,16.48 10.84,16.72 11.90,16.72 C12.93,16.72 13.73,16.50 14.28,16.07 C14.83,15.64 15.11,15.07 15.11,14.36 C15.11,13.87 14.98,13.47 14.73,13.16 C14.47,12.85 14.11,12.60 13.62,12.39 C13.31,12.26 12.98,12.15 12.61,12.07 C12.25,11.99 11.75,11.89 11.12,11.76 C10.46,11.64 9.91,11.52 9.46,11.41 C9.01,11.30 8.60,11.16 8.22,11.00 C7.57,10.72 7.07,10.34 6.71,9.86 C6.35,9.38 6.17,8.75 6.17,7.96 C6.17,7.16 6.37,6.46 6.77,5.87 C7.17,5.27 7.73,4.82 8.44,4.50 C9.16,4.19 9.97,4.03 10.88,4.03 C11.59,4.03 12.28,4.16 12.94,4.43 C13.60,4.69 14.17,5.05 14.64,5.50 C14.64,5.50 14.64,4.79 14.64,4.79 C14.64,4.52 14.71,4.32 14.84,4.20 C14.98,4.09 15.22,4.03 15.55,4.03 C15.88,4.03 16.11,4.09 16.25,4.20 Z M 7.79,20.60 C 7.90,20.73 7.95,20.95 7.95,21.25 C7.95,21.56 7.90,21.78 7.79,21.90 C7.68,22.03 7.50,22.10 7.24,22.10 C7.24,22.10 2.56,22.10 2.56,22.10 C2.30,22.10 2.12,22.04 2.01,21.92 C1.90,21.79 1.84,21.59 1.84,21.30 C1.84,21.30 1.84,2.91 1.84,2.91 C1.84,2.62 1.90,2.42 2.01,2.30 C2.12,2.18 2.30,2.12 2.56,2.12 C2.56,2.12 7.24,2.12 7.24,2.12 C7.50,2.12 7.68,2.18 7.79,2.31 C7.90,2.44 7.95,2.66 7.95,2.96 C7.95,3.27 7.90,3.48 7.79,3.61 C7.68,3.74 7.50,3.80 7.24,3.80 C7.24,3.80 3.54,3.80 3.54,3.80 C3.54,3.80 3.54,20.41 3.54,20.41 C3.54,20.41 7.24,20.41 7.24,20.41 C7.50,20.41 7.68,20.47 7.79,20.60 Z')!important;
	transform: translate(-1px,0px);
}


div[class*="container"]:has([class*="emptyChannelIcon"]) h3[class*="defaultColor"]{
	color:black;
}

div[class*="autocomplete"] div[class*="base"] h3{
	color:white!important;
}

div[class*="autocompleteRowIcon"] path{
	d:path('M 14.74,10.33C 14.85,10.50 14.91,10.70 14.91,10.95C14.91,11.21 14.85,11.41 14.74,11.57C14.63,11.74 14.45,11.88 14.20,12.00C14.20,12.00 2.56,17.76 2.56,17.76C2.36,17.86 2.17,17.91 2.00,17.91C1.67,17.91 1.40,17.69 1.18,17.26C1.06,17.02 1.00,16.81 1.00,16.62C1.00,16.29 1.20,16.02 1.61,15.82C1.61,15.82 11.69,10.95 11.69,10.95C11.69,10.95 1.61,6.09 1.61,6.09C1.20,5.88 1.00,5.62 1.00,5.29C1.00,5.10 1.06,4.89 1.18,4.65C1.40,4.22 1.67,4.00 2.00,4.00C2.17,4.00 2.36,4.05 2.56,4.15C2.56,4.15 14.20,9.91 14.20,9.91C14.45,10.03 14.63,10.17 14.74,10.33 Z')!important;
}

nav[class*="sidebar"] div[aria-label*="User Settings"] div[class*="eyebrow"]{
	color:black;
}

nav[class*="sidebar"] div[class*="themed"]{
	color: #535353;
}

nav[class*="sidebar"] div[class*="socialLinks"] path{
	fill: #535353;
}

h2[class="bd-sidebar-header-label"]{
	color:black;
}

nav[class*="sidebar"] div[class="bd-button-content"] svg{
	fill:black;
}

div[class*="accountProfileCard"] div[class*="fieldList"] h3[class*="eyebrow"]{
	color:black;
}

div[class*="accountProfileCard"] div[class*="fieldList"] span[class*="text-md"]{
	color:#535353!important;
}

/*div[class*="messagesPopoutWrap"]
* someone remind me to get to this when I'm not doing a ton of things
*
* I forgot what this was supposed to be
*/